.snackbar {
    background: darkgoldenrod;
    overflow: hidden;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 8px;
    right: 8px;
    min-height: 34px;
    max-height: 52px;
    padding: 8px;
    display: inline-flex;
    justify-content: space-between;
}

.snackbar > .text {
    font-size: 18px;
    text-align: justify;
    overflow: hidden;
    max-height: 52px;
}

.snackbar > .actions {
    display : flex;
    margin-left : 8px;
    width : 30%;
    max-width : 30%;
    justify-content: space-between;
}

.snackbar > .actions > .action {

}